$main-color:#F16D7F;
$black-color:#222222;
$white-text-color:#FFF;
$desktop-wrap:1140px;
$tablet-wrap:736px;
$mobile-wrap:343px;
$tablet-breakpoint:1180px;
$mobile-breakpoint:785px;
$shadow:6px 4px 35px rgba(0, 0, 0, 0.21);
$shift: 65px;