.promo {    
    background-color:#F1E4E6 ;
    &-wrap {
        height: 765px;
        background-image: url(../img/men_promo.png);
        background-repeat: no-repeat; 
        background-position-x: -225px;
        background-position-y: bottom;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width:$tablet-breakpoint) {
            height: 365px;
            background-position: 0 0;
            background-size: contain;
        }
        @media (max-width:$mobile-breakpoint) {
            background-image: none;
            
        }


        &-text {
            font-weight: 900;
            font-size: 48px;
            line-height: 40px;
            color: $black-color;
            border-left: 12px solid $main-color;
            padding-left: 16px;
            margin: right 95px; 
            
            @media (max-width:$tablet-breakpoint) {
                font-size: 44px;
                line-height: 33px;
            
            }
    
    }
   
}

  

  
  
.text-min {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;    
    color: $black-color;

    @media (max-width:$tablet-breakpoint) {
        font-size: 24px;
        line-height: 26px;
    }
    
}
.text-pink {
    color: $main-color;

    @media (max-width:$tablet-breakpoint) {
        font-size: 24px;
        line-height: 26px;
    }
 }
}  
